<h1>Add New Employer</h1>

<form asp-controller="Employer" asp-action="ProcessAddEmployerForm" method="post">
    <div class="form-group">
        <label>Employer Name</label>
        <input />
    </div>
    <div class="form-group">
        <label>Employer Location</label>
        <input />
    </div>
    <input type="submit" value="Submit" />
</form>