<h1>Add a Job</h1>

<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" />
        <span></span>
    </div>

    <input type="submit" value="Add Job" />
</form>

